.main-wrapper {
    font-size: 1.2rem !important;
    color: #000000;
}

.head-left-column {
    width: 30% !important;
    font-size: 1.2rem !important;
    font-weight: bold;
    vertical-align: top !important;
}

.head-right-column {
    width: 70% !important;
    font-size: 1.2rem !important;
}

.resume-name {
    color: #0a0a0a !important;
    font-size: 1.5rem !important;
    letter-spacing: 0.1rem !important;
}

.cvo-block-title {
    padding: 1px;
    border-bottom: 1px solid #666;
}

.cvo-block-title h3 {
    text-transform: uppercase;
    font-size: 1.3rem !important;
    font-weight: 700;
    margin-bottom: 0;
}

h4 {
    font-size: 1.2rem !important;
}

.progress-bar {
    background-color: #0a0a0a !important;
}

.img__wrap {
    width: 200px !important;
    height: 200px !important;
}

#contact-tbl {
    border-collapse: separate;
    border-spacing: 0 0.5rem !important;
}


.hidden-heading-title {
    font-size: 1rem !important;
}

.medium-editor-element {
    min-height: 1rem !important;
}

.add-new-btn {
    margin-top: 0.625rem !important;
    line-height: 1.2rem !important;
}

.align-items-center {
    align-items: inherit !important;
}

.resume-tagline {
    font-size: 1.2rem !important;
}

.resume-wrapper-inner{
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.range-slider__range {
    width: calc(100% - (6rem)) !important;
}

#preview-avatar{
    width: 200px !important;
    height: 200px !important;
}

.medium-editor-placeholder:after {
    opacity: 0.7;
}

[info-name="references_text"] > p:nth-child(1) {
    font-weight: bold;
}

#references-container {
    display: inline-block;
    width: 100%;
}

#references-container li {
    float: left;
    list-style: outside none none;
    width: 50%;
}

#references-container li:nth-child(even){
    padding-left: 3%;
}

.remove-padding{
    margin-left: unset !important;
    margin-right: unset !important;
}

.resume-interests-list {
    font-size: unset;
}

@media print {

    .resume-wrapper {
        margin-bottom: 60px !important;
    }

    .footer {
        margin: 0px;
        padding: 0px;
    }

    .img__wrap {
        width: 200px !important;
        height: 200px !important;
    }

    #preview-avatar{
        width: 200px !important;
        height: 200px !important;
    }

    .resume-wrapper-inner{
        margin-bottom: unset !important;
        padding-bottom: unset !important;
    }
}
