.profile-picture {
	max-width: 220px;
	max-height: 220px;
	width: auto !important;
	height: auto	
} 

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.primary-info {
	word-break: break-word;
	white-space: normal;
	max-width: 420px;
}

.secondary-info {
	min-width: 200px;
	word-break: break-all;
	white-space: normal;
	max-width: 350px;
}
.resume-header .name {
	font-size: 1.75rem;
}
.resume-header .title {
	font-size: 1.2rem;
}
.resume-wrapper {
	padding-top: 30px;
}
.resume-wrapper-inner {
  max-width: 1101px;
}

.resume-header{
	height: 250px;
}

.img__wrap{
	width: 250px !important;
	height: 250px !important;
}
body {
	font-family: 'Roboto', cursive;
	background: #FFFFFF;
}

@media (min-width: 576px) {
	.flex-md-row {
		flex-direction: row !important;
	}
}

@media print {
	.resume-body{
		padding-bottom: 0 !important;
	}
	.sidebar-col .mb-5:last-child{
		margin-bottom: unset !important;
	}
}