body{font-family: 'Noto Sans KR', sans-serif;background: #f1f1f1;text-align: center;}
a{text-decoration: none;color: #333;}
.main{width: 80%;max-width: 650px; margin:auto;background-color: #fff;box-sizing: border-box;padding:40px;}
.header{width: 100%;height: 100%;position: relative;}
.header .logo{width: 100%; text-align: center;padding:20px 0;}
.header .logo img{width: 60%;max-width: 200px;}
.contents{text-align: center;}
.contents h1{font-size: 24px;margin:0;}
.contents p{margin:0;line-height: 2;}
.contents p a{display: block;width: 80%; max-width: 200px;padding:0 10px; height: 45px;line-height: 45px; background-color: #00aeef;color:#fff;font-size:18px;margin:40px auto 0;border-radius: 2px;}
.contents p em{text-decoration: underline;font-style: normal;}
.contents span{font-size: 14px;font-weight: 300;}
.contents a{display: block;width: fit-content; padding: 10px 17px;background-color: #00aeef; color: #fff;margin: 25px auto 0;border-radius: 2px;}
.contents ul{width: 60%;max-width: 320px; margin: auto;text-align: left;font-weight: 300;}
.hotspot-container{letter-spacing: 15px;margin-top: 25px;text-align: center;}
.hotspot-container a{padding: 0;background-color: transparent;margin: 0;border-radius: 0;display: inline-block;width: 45px;}
.hotspot-container a img{width: 100%;}
.tour-wrap{width: 80%;max-width: 550px;margin: auto;}
.tour-wrap:after{content:""; display:block; clear:both; visibility:hidden; width:0; height:0; font-size:0;}
.tour-wrap div{width: 50%;float: left;box-sizing: border-box;padding:10px;}
.tour-wrap a{background-color: transparent;width: 100%;padding: 0;margin: 0;}
.tour-wrap a img{width: 100%;}
.contact_wrap{margin-top: 70px;}
.contact_wrap .info{color: #999;}
.contact_wrap .info p{display: inline-block;margin:0 10px 20px;}
.contact_wrap .info p a{color: #999;}
.contact_wrap .sns{}
.contact_wrap .sns a{}
.contact_wrap .sns a img{opacity: .4;}
.contents .go-pricing a{padding: 0;margin: 0;background-color: transparent;color: #333;max-width: 100%;display: inline-block;text-decoration: underline;}
.footer{padding:20px 0;font-size: 14px;}
.footer a{color: #999;}
.footer a:hover{color: #333;}

@media (max-width: 480px){
	.main{padding:40px 20px;}
	.tour-wrap div{width: 100%;padding:5px 0;}
	.contact_wrap .info p{font-size: 14px;}
}














