/* project password */
.password-form{width: 100%;height: 100vh;position: relative;background-color: #ddd;background: url(../images/layout/submit_bg.png) no-repeat;background-size: cover;}
.form-container{width: 80%;max-width: 720px;border-radius: 4px;background-color: rgba(255,255,255,0.1);box-shadow: 0.3px 1px 20px 0 rgba(0, 0, 0, 0.1);position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);box-sizing: border-box;padding: 60px 40px;border: 1px solid #fff;}
.form-container a{display: block;width: 180px;margin: auto;}
.form-container a img{width: 100%;}
.form-container h1{font-size: 24px;margin:60px auto 20px;text-align: center;color: #fff;}
.form-container .prj-pass-container{max-width: 400px;margin: auto;}
.form-container .prj-pass-box{width: 100%; height: 46px; padding: 10px;margin-bottom: 0;border-radius: 4px;box-sizing: border-box;}
.form-container .prj-pass-box::placeholder{font-family: 'SFProDisplay-Thin' !important;}
.form-container .incorrect-msg{font-size: 14px;color: red;display: none;}
.form-container .prj-button{display: block; width: 100%;height: 46px;margin: 10px auto 40px; border: 1px solid #fff;border-radius: 4px; background-color: rgba(255,255,255,.1);color: #fff;font-size: 18px;}
.form-container .prj-button:hover {background-color: rgba(255,255,255,.3);}
/* //project password */
@media (max-width: 480px) {
    /* project password */
    .form-container{background-color: transparent;border: none;padding: 0;}

    .form-container a{width: 160px;}
    .form-container h1{margin: 40px auto 15px;font-size: 22px;}
    /* //project password */
}
