#header .main-header {
    display: block;
}

@media (max-width: 1024px) {
    #header .main-header {
        display: none;
    }
}

.text-danger {
    color: #ff0000;
}

.text-success {
    color: #28a745;
}

#naver_id_login img {
    height: 49px;

}

.info-window {
    width: 310px;
    height: 213px;
    border-radius: 30px !important;
    padding: 0px !important;
}

#map > div:nth-child(1) > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div > div > div {
    padding: 0px !important;
}

#map > div > div > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(4) > div > div > div > div > div {
    overflow: unset !important;
}

.map-pop-contents {
    border-radius: 10px !important;
}

.authors_bg {
    /*background: url(//cms.vrmakers.co/uploads/user-covers/leokim7-gmail-com-1612689799.jpg) no-repeat content-box;*/
    background-position: center !important;
    background-size: cover !important;
}

.profile_cover_img {
    background-size: cover !important;
    background-position: center !important;
}

.edit_profile_img {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.profile:hover .edit_profile_img{
    display: block;
}

.edit_img_btn {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 100px;
    color: #fff;
    text-align: center;
    font-size: 35px;
}

#cover-avatar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    text-align: center;
}

.label-danger {
    color: red !important;
}

.icon-loading {
    display: none;
}

.show-div {
    display: block;
}

.hide-div {
    display: none;
}

.contact_wrap {
    height: auto;
}

.contact_popup {
    z-index: 99999;
}

.error-login {
    text-align: center;
    color: red;
}

.btn-loading {
    display: none;
    padding: 5px;
}

.tel {
    color: inherit;
}

.payment-content {
    height: 600px;
    text-align: center;
}

.payment-content h4{
    color: rgb(99, 99, 99);
    font-size: 24px;
    margin-top: 68px;
}

.modal-payment-body {
    padding: 10px 25px;
    font-size: 16px;
    color: rgb(99, 99, 99);

}

.modal-payment {
    margin-top: 125px;
    width: 325px;
    height: 272px;
    background-color: #ffffff;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    display: inline-block;
    position: relative;
    padding: 20px;

}

.icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.icon-box i {
    font-size: 58px;
    position: relative;
    top: 15px;
}

.btn-payment {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
    width: 100%;
    margin-top: 20px;
    height: 36px;
}

.payment-error {
    background-color: #e64b10;
}

.error-login {
    display: none;
}

.popup_login {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba( 0, 0, 0, 0.3 );
    overflow: hidden;
    /*display: none;*/
}

.modal_login {
    width: 500px;
    border-radius: 2px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-sizing: border-box;
    padding: 70px 0;
}

.modal_login_error {
    text-align: center;
    padding: 20px
}

.modal_login_error p {
    font-size: 22px;
}
.modal_login_error a {
    font-size: 22px;
}

.popup_login {
    display: none;
}

.resend-mail {
    text-decoration: underline;
    color: #00a7f5;
}

.tiltle-search {
    text-align: center;
    font-size: 40px;
    font-family: 'SFProDisplay-Semibold';
    font-weight: 500;
    line-height: 1;
    color: #333;
    padding-bottom: 30px !important;
}

.key-search {
    text-align: center;
    font-size: 24px;
    font-family: 'SFProDisplay-Semibold';
    /*font-weight: 500;*/
    line-height: 1;
    color: #333;
    padding-bottom: 30px;
}

/*import changes from sub.css*/
.counting_container .cnt_item h1{color: #fff;text-align: center;font-size: 30px;font-family: 'SFProDisplay-Regular' !important;}
.counting_container .cnt_item span{font-size: 30px;font-family: 'SFProDisplay-Regular' !important;}
.privacy_txt{font-size: 16px;font-weight: 400; padding-bottom: 50px;}
.term_wrap .term_txt{font-size: 16px;font-weight: 400; padding-bottom: 50px;}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free" !important;
}
.card2 {
    margin-right: 30px !important;
}

.sharing-pasword-form {
    width: 100% !important;
    padding: 0px !important;
}
