body { font-family: 'Noto Sans KR', sans-serif; font-size: 24px; color: #262627; margin: 0; padding: 0;}

h1 { font-size: 24px; font-weight: normal; margin-top: 30px;}

.text-center { text-align: center;}

.image-wrapper { text-align: center; margin: 35px 60px 60px; width: calc(100% - 120px);}
.image-wrapper img { max-width: 100%; max-height: 100%;}
#view-object-wrapper { margin: 0 auto;}
.link-btn { display: inline-block; text-decoration: none; color: #262627; line-height: 51px;}
.icon-google-play { width: 47px; height: 51px; float: left; background: url(../images/icon/icon-google-play.png) top center no-repeat; margin-right: 5px;}

@media (max-width: 768px) {
    h1 { font-size: 18px;}
}