.main-wrapper {
    font-size: 1.2rem !important;
    color: #58595a;
}

#preview-avatar {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 180px !important;
    height: 180px !important;
    border-radius: 0 10px 0 10px;
}

.cv-block {
    padding: unset !important;
}

.avatar-box {
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 0 50px 0 50px;
    background-color: #fbb040;
}

.img__wrap {
    width: unset !important;
    height: unset !important;
    padding-top: 30px !important;
    padding-left: 30px !important;
}

.overlay {
    width: 180px !important;
    right: 0;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.resume-contact {
    border-left: unset !important;
}

.resume-name {
    color: #fbb040;
}

.resume-tagline {
    font-weight: 600;
    text-transform: uppercase;
}

.contact-icons {
    color: #fbb040;
}

.contact-tbl tr td {
    font-size: 1.15rem !important;
    font-weight: 600;
    padding-bottom: 10px;
    vertical-align: top;
}

.resume-contact {
    padding-top: 50px !important;
}

.contact-tbl tr td:nth-child(odd) {
    width: 30%;
}

.cvo-section-heading {
    text-transform: uppercase;
    font-size: 1.35rem;
    display: block;
    border-top: 2px solid #58595a;
    padding-top: 0.3rem;
    border-bottom: 2px solid #58595a;
    padding-bottom: 0.4rem;
}

.arrow-right {
    position: relative;
    padding-left: 1.35rem;
    height: 1.35rem;
    font-size: 1.35rem;
    line-height: 1.35rem;
    display: inline-block;
    color: #58595a;
}

.arrow-right:before {
    content: "";
    position: absolute;
    border-left: 0.775rem solid #58595a;
    border-top: 0.775rem solid transparent;
    border-bottom: 0.775rem solid transparent;
    left: 0;
}

.resume-body {
    padding-left: 3.5rem !important;
    padding-right: 1rem !important;
}

.cvo-heading-40 {
    width: 40%;
}

.spec-heading {
    text-transform: uppercase;
    font-weight: 700;
    color: #58595a;
    font-size: 1rem;
}

.progress-bar {
    background-color: #58595a !important;
}

.medium-editor-placeholder:after {
    opacity: 0.7;
}

.range-slider__range {
    width: calc(100% - (6rem)) !important;
}

[info-name="references_text"] > p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    color: #58595a;
    font-size: 1rem;
}

#references-container {
    display: inline-block;
    width: 100%;
}

#references-container li {
    float: left;
    list-style: outside none none;
    width: 50%;
}

#references-container li:nth-child(even) {
    padding-left: 3%;
}

.resume-interests-list {
    font-size: unset;
}

.hobby-list:nth-child(even){
    text-align: right;
}

.cvo-left-col section:last-child{
    margin-bottom: unset !important;
}

.cvo-right-col section:last-child{
    margin-bottom: unset !important;
}

@media print {

    /*.resume-wrapper {*/
    /*    margin-bottom: 60px !important;*/
    /*}*/

    .footer {
        margin: 0px;
        padding: 0px;
    }

    .resume-wrapper-inner {
        padding-bottom: unset !important;
        margin-bottom: unset !important;
    }


}
