.wrapper {
    max-width: 1101px !important;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}

.sidebar-wrapper {
	min-width: 280px;
	display: inline-flex;
    flex-direction: column;
    order: 2;
}

.main-wrapper {
	padding-right: 0px;
	/*min-width: 820px;*/
	width: 100%;
}
.sidebar-wrapper .container-block {
    padding: 12px;
    margin: 5px;
}

@media screen and (max-width: 767px) {
  	.main-wrapper {
		display:block;
		min-width: auto;
	}
	.sidebar-wrapper {
		display: block;
	}
	.resume-wrapper {
		display: block;
	}
}
.profile-picture {
	max-width: 200px;
    max-height: 200px;
    width: auto !important;
    height: auto	
}
.img__wrap {
	position: relative;
	height: 200px;
	width: 200px;
	cursor: pointer;
	margin: 0px;
	left: 50%;
    transform: translateX(-50%);
}
.sidebar-wrapper .contact-list li {
	word-break: break-all;
}
.main-wrapper .section {
    margin-bottom: 20px;
}
.main-wrapper .section-title {
	margin-bottom: 10px;
	font-weight: 600;
}
.main-wrapper .experiences-section .item {
    margin-bottom: 0px;
}
.main-wrapper .company {
    margin-bottom: 0px;
}
.footer {
	padding: 0px;
}

.main-wrapper .job-title{
	font-weight: 600;
}
@media print {
	@page {
		/*size: A4;*/
		margin: 0px;
	}
	.wrapper {
		max-width: 100% !important;
		margin: 0px;
		padding: 0px;
		/*margin-bottom: 60px;*/
	}
	.sidebar-wrapper, .main-wrapper{
		margin-bottom: unset !important;
		padding-bottom: unset !important;
	}
}
.references-item {
	list-style: none;
}