.main-wrapper {
    font-size: 1.2rem !important;
    color: #393533;
}

.spec-heading {
    color: #003746;
}

.resume-header {
    min-height: 380px;
}

.resume-contact {
    border-left: unset;
}

.resume-tagline {
    font-weight: 500;
}

.resume-name {
    color: #003746;
    word-wrap: break-word;
    word-break: break-word;
    letter-spacing: 0.1rem !important;
    text-transform: uppercase;
}

#preview-avatar {
    width: 200px !important;
    height: 200px !important;
    border-radius: 50%;
    border: 10px solid #005a89;
}

.img__wrap {
    width: unset !important;
    height: unset !important;
    left: 65%;
}

.overlay {
    width: 200px !important;
}

.cvo-section-heading {
    text-transform: uppercase;
    font-size: 1.7rem;
    display: block;
    color: #003746;
    letter-spacing: 0.2rem;
}

.contact-icons {
    font-size: unset;
    margin-right: 5px;
    color: #003746;
}

.cvo-left-col {
    padding-left: 0;
    padding-right: 50px;
}

.cvo-right-col {
    border-left: 1px solid #ebece7;
    width: 100%;
    padding-left: 50px;
}

.resume-wrapper-inner {
    background-color: #fff6eb;
}

.resume-contact {
    font-size: unset;
}

.cv-block {
    padding: unset;
}

.cvo-heading-left {
    margin-bottom: unset !important;
}

.right-border-time-col {
    border-right: 1px solid #ebece7;
    letter-spacing: 0.3rem;
}

.right-border-year {
    border-right: 1px solid #ebece7;
}

.range-slider__range {
    width: calc(100% - (6rem)) !important;
}

.text-bold {
    font-weight: bold;
}

[info-name="references_text"] > p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 700;
    color: #003746;
    font-size: 1rem;
}

.pl-4rem {
    padding-left: 4rem;
}

.pl-1rem2 {
    padding-left: 1.2rem;
}

[info-name="short_bio_html"] p {
    z-index: unset;
}

.resume-interests-list {
    font-size: unset;
}

.hobby-list:nth-child(even) {
    text-align: right;
}

@media print {

    .footer {
        margin: 0px;
        padding: 0px;
    }

    .resume-wrapper-inner, .resume-footer, .ending-hr {
        margin-top: unset !important;
        margin-bottom: unset !important;
        padding-bottom: unset !important;
    }

    .resume-wrapper-inner {
        position: relative;
    }

    .cvo-right-col section:last-child,.cvo-left-col section:last-child {
        margin-bottom: unset !important;
        padding-bottom: unset !important;
    }
}
