/*.img__wrap {
	height: auto; 
	width: auto; 
}*/
#preview-avatar {
	border-radius: 5px;
}
.profile-picture {
	max-width: 120px;
    max-height: 120px;
    width: auto !important;
    height: auto	
}
.img__wrap {
	position: relative;
	height: 120px;
	width: 120px;
	cursor: pointer;
	margin: 0px;
	left: 50%;
    transform: translateX(-50%);
}

.media .media-body {
    margin-left: 10px;
    margin-right: 10px;
}

.resume-title .resume-name {
	line-height: normal;	
}

h4 {
	font-size: 1rem;
}
.resume-main .item-title {
    font-size: 1.1rem;
}
.resume-section-heading {
	letter-spacing: 0rem; 
}

@media print {
	@page {
		margin: 0px; 
	}
	.container {
		max-width: 100% !important;
		margin: 0px !important;
		padding: 0px !important;
	}
	/*.resume-wrapper {*/
	/*	margin-bottom: 60px !important;*/
	/*}*/
	.footer {
		margin: 0px;
		padding: 0px;
	}
	.shadow-lg {
	    box-shadow: 0 0rem 0rem rgba(0,0,0,0.175) !important;
	}
	.resume-wrapper{
		margin-bottom: unset !important;
		padding-bottom: unset !important;
		padding-top: 20px !important;
	}
}
.references-item {
	list-style: none;
}
@media (min-width: 576px){
	.text-md-right {
		text-align: right !important;
	}
}