.main-wrapper {
    font-size: 1rem !important;
    color: #000000;
}

.cvo-right-col {
    padding-right: 50px;
    padding-left: 50px;
}

.cvo-left-col {
    padding-right: 50px;
    padding-left: 50px;
}

.cvo-section-heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.rotate-part {
    border-left: unset;
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
    min-height: 700px;
    min-width: 700px;
    top: 0;
    position: absolute;
    left: 0;
    padding-top: 50px;
    padding-right: 75px;
}

.resume-space {
    min-height: 750px;
}

.resume-name {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 0.2rem;
}

.cv-block {
    padding: unset;
}

.range-slider__range {
    width: calc(100% - (6rem)) !important;
}

.progress-bar-container {
    background-color: transparent;
    border: 1px solid black;
}

.text-bold {
    font-weight: bold;
}

.text-bold-50 {
    font-weight: 500;
}

.resume-degree::before, [info-name="experiment_duration"]::before, .resume-award-name::before, [info-name="hobby_name"]::before {
    content: "\2014\00a0";
    font-weight: bolder;
}

.resume-tagline {
    text-transform: uppercase;
    padding-top: 9px;
}

#triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 100px solid black;
    border-left: 100px solid transparent;
    bottom: 0;
    right: 0;
    position: absolute;
}

.objective-container {
    position: relative;
}

.overlay-text-block {
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 999;
}

.remove-btom-margin {
    margin-bottom: unset !important;
}

.contact-icons, .social-icons {
    margin-top: 5px;
}

.sidebar-elem {
    z-index: 9999;
}

.medium-editor-element > p {
    z-index: unset !important;
}

.resume-interests-list {
    font-size: unset;
}

.hobby-list:nth-child(3n+2){
    padding-left: 3rem;
}

.hobby-list:nth-child(3n){
    text-align: right;
    padding-right: 0.5rem;
}

@media print {

    .footer {
        margin: 0px;
        padding: 0px;
    }

    .resume-wrapper-inner, .cvo-right-col {
        margin-top: unset !important;
        margin-bottom: unset !important;
        padding-bottom: unset !important;
    }

    .resume-tagline:after {
        padding-bottom: 2px !important;
    }

    .jobsgo-watermark{
        color: whitesmoke;
    }
}
