.main-wrapper {
    font-size: 1.2rem !important;
    color: #000000;
}

.progress-bar {
    background-color: #0a0a0a !important;
}

.resume-name {
    color: #000000 !important;
    font-size: 1.5rem !important;
    letter-spacing: 0.1rem !important;
}

.remove-bg-color {
    background-color: white !important;
}

.cvo-block-title {
    padding: 1px;
    border-bottom: 1px solid #666;
    margin-bottom: 1rem;
}

.cvo-block-title h3 {
    text-transform: uppercase;
    font-size: 1.3rem !important;
    font-weight: 700;
    margin-bottom: 0;
}

h4 {
    font-size: 1.2rem !important;
}

.medium-editor-placeholder:after:focus {
    content: '' !important;
}

.medium-editor-element {
    min-height: 0.5rem !important;
}

.add-new-btn {
    margin-top: 0.625rem !important;
}

.hidden-heading-title {
    font-size: 1rem !important;
}

.italic-title {
    font-style: oblique !important;
}

.resume-wrapper-inner {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.range-slider__range {
    width: calc(100% - (6rem)) !important;
}

.medium-editor-placeholder:after {
    opacity: 0.7;
}

[info-name="references_text"] > p:nth-child(1) {
    font-weight: bold;
}

#references-container {
    display: inline-block;
    width: 100%;
}

#references-container li {
    float: left;
    list-style: outside none none;
    width: 50%;
}

#references-container li:nth-child(even) {
    padding-left: 3%;
}

.remove-padding {
    margin-left: unset !important;
    margin-right: unset !important;
}

.resume-interests-list {
    font-size: unset;
}

@media print {

    .resume-wrapper {
        margin-bottom: 60px !important;
    }

    .footer {
        margin: 0px;
        padding: 0px;
    }

    .img__wrap {
        width: 200px !important;
        height: 200px !important;
    }
    section .mb-5:last-child{
        margin-bottom: unset !important;
    }

    .resume-wrapper-inner{
        padding-bottom: unset !important;
        margin-bottom: unset !important;
    }
}

