.main-wrapper {
    font-size: 1.2rem !important;
    color: #333232;
}

#preview-avatar {
    width: 180px !important;
    height: 180px !important;
    border-radius: 50% !important;
}

.img__wrap {
    width: 100% !important;
    height: 200px !important;
}

.overlay {
    font-size: 1rem !important;
    margin-left: 4vw;
    width: 60% !important;
}

.resume-title {
    background-color: #e5d6d3 !important;
}

.row {
    margin-right: unset !important;
    margin-left: unset !important;
}

.align-items-center {
    align-items: unset !important;
}

.img-fluid {
    margin-top: 30px !important;
    margin-bottom: 25px !important;
}

.resume-contact {
    padding-top: 60px !important;
    padding-left: 50px !important;
    background-color: #3d323e !important;
}

.resume-tagline, .resume-name {
    color: #ffffff !important;
}

.resume-tagline {
    font-size: 1.4rem !important;
}

.cvo-left-side {
    background-color: #e5d6d3;
    padding: 50px 3vw 30px 3vw;
}

.cvo-right-side {
    background-color: #f9f9f9;
    padding: 50px 5vw 30px 50px;
}

.cvo-section-heading {
    color: #292929;
    font-size: 1.4rem;
    border-bottom: #292929 solid;
    padding-bottom: 5px;
    text-transform: uppercase;
    /*margin-bottom: 1.5rem;*/
    letter-spacing: 3px;
}

.head-left-column {
    width: 25%;
    padding-bottom: 1rem;
}

.head-right-column {
    width: 75%;
    word-wrap: break-word;
    word-break: break-word;
    /*text-align: justify;*/
    padding-bottom: 1rem;
}

.cv-block {
    padding-top: unset !important;
    padding: unset !important;
}

.range-slider__range {
    width: calc(100% - (6rem)) !important;
}

.progress-bar {
    background-color: #292929 !important;
}

.job-his-company-name {
    color: #ff968c !important;
}

.text-black {
    color: #0a0a0a !important;
}

.medium-editor-element {
    min-height: unset !important;
}

.spec-heading {
    font-size: larger;
    font-weight: 600;
}

.text-bold-year {
    font-weight: 600 !important;
    color: #292929 !important;
}

.mybadge {
    height: 100px;
    width: 100px;
    display: table-cell;
    text-align: center !important;
    vertical-align: middle !important;
    word-break: normal;
    white-space: normal;
    border-radius: 50%;
    color: white;
}

.badge-col-1 {
    background: linear-gradient(to right, #584b54, #79696e);
}

.badge-col-2 {
    background: linear-gradient(to right, #867579, #a79394);
}

.badge-col-3 {
    background: linear-gradient(to right, #b39e9d, #ceb7b3);
}

.badge-col-0 {
    background: linear-gradient(to right, #b29d9c, #ceb7b3);
}

.contact-icons {
    width: 35px;
}

.social-connection:before {
    content: attr(info-name) ": ";
    text-transform: capitalize;
    font-weight: 600;
}

.medium-editor-placeholder:after {
    opacity: 0.7;
}

[info-name="references_text"] > p:nth-child(1) {
    font-size: larger;
    font-weight: 600;
}

#references-container {
    display: inline-block;
    width: 100%;
}

#references-container li {
    float: left;
    list-style: outside none none;
    width: 50%;
}

#references-container li:nth-child(even) {
    padding-left: 5%;
}

[info-name="references_text"] > p:nth-child(2) {
    font-style: italic;
}

.w-100:nth-child(4n+1) {
    display: unset !important;
}

.resume-interests-list{
    font-size: unset;
}

@media print {

    .footer {
        margin: 0px;
        padding: 0px;
    }

    .cvo-left-side, .cvo-right-side, .resume-wrapper-inner {
        margin-bottom: unset !important;
        padding-bottom: unset !important;
        margin-top: unset !important;
    }

    #skills-block{
        margin-bottom: unset !important;
    }
    
    .not-break-inside{
        page-break-inside: avoid !important;
    }
    .cvo-left-side section:last-child{
        padding-bottom: unset !important;
        margin-bottom: unset !important;
    }
}

.icon-holder {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0.3em;
    background: #3D323E;
    text-align: center;
    font-size: 16px;
    position: relative;
}